*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: sans-serif;
    background: #ac44ac;
    padding: 4rem;
}
.cards{
    height: 85vh;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 2rem;
}
.card{
    list-style: none;
    background: rgba(255,255,255,0.9);
    border-radius: 1rem;
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.2);
}

.card--first{
    grid-row: 1/7;
    grid-column: 1/5;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.card--first > input{
    width: 70%;
    height: 40px;
    font-size: 2rem;
    font-family: sans-serif;
    padding-left: 2rem;

}
.card--second{
    grid-row: 1/9;
    grid-column: 5/13;
    padding: 4rem;
    display: flex;
    flex-direction: column;

}
.card--second > h2{
    margin-top: 2rem;
    margin-right: 50rem;
}
.card--third{
    grid-row: 7/13;
    grid-column: 2 /5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7rem;
}

.card--third > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card--third > button{
    width: 15rem;
    height: 6rem;
    font-size: 2rem;
    font-family: sans-serif;
    border: none;
    background: #ee1515;
    color: #eee;
    border-radius: 0.5rem ;
}

@media screen and (max-width: 87.5rem){
    .card--second{
        grid-row: 1/13;
    }
    .card--third{
        grid-column: 1 / 5;
    }
    
}

@media screen and (max-width: 62.5rem){
    body{
        background: #ac44ac;
    }

    .card--second, .card--first{
        display: none;
    }
    .card--third{
        grid-column:2/11 ;
        grid-row:1/13 ;
    }
}