* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #090910;
    gap: 20px;
}

.eye {
    width: 140px;
    height: 260px;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.4);
    position: relative;
}

.iris {
    width: 80px;
    height: 80px;
    background: #30D733;
    background: linear-gradient(#7a1c5e, 70%, #0932e9);
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 35%;
}

.pupil {
    width: 65%;
    height: 65%;
    background: black;
    border-radius: 50%;
}

.shimmering {
    width: 30%;
    height: 35%;
    background: #fff;
    position: absolute;
    top: 10%;
    left: 18%;
    border-radius: 50%;
    transform: rotate(30deg);
}

.u-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}