*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --base-color: hsl(83, 80%, 38%);
    --background-color: hsl(134, 28%, 64%);
    --dark-base-color: rgb(84, 144, 81);
    --heart-color: hsl(102, 28%, 21%);
    --dark-base-color-shadow: rgba(105, 144, 81, 0.4);
}

body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.spere3D{
    position: relative;
}

.sphere{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(var(--base-color),50%,var(--dark-base-color));
    position: relative;
    box-shadow: inset  0px 0px 25px 1px rgba(0,0,0,0.4);
}

.heart{
    position: absolute;
    transform: rotate(45deg);
    top: 35%;
    left: 50%;
}

.block{
    width: 120px;
    height: 120px;
    position: absolute;
    background: var(--heart-color);
}

.block--second{
    transform: translateX(-50%);
    border-radius: 50%;
}

.block--third{
    transform: translateY(-50%);
    border-radius: 50%;
}

.shadow{
    width: 420px;
    height: 100px;
    background: var(--dark-base-color-shadow);
    border-radius: 50%;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(12px);
}