*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
   min-height: 100vh;
   display: grid;
   grid-template-areas: 
   "header header header header"
   "info info content content";
}

.header{
    grid-area: header;
    background: blue;
}

.content{
    grid-area: content;
    background: yellow;
}

.information{
    grid-area: info;
    background: green;
}