@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');


body{
    font-size: 1rem;
}

body{
    font-size: 20px;
    font-family: Mochiy Pop P One, sans-serif;
}
figure{
    margin-bottom: 2.5rem;
}
h1{
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
}
article{
    width: 60vw;
    background: transparent;
    margin: 0 auto;
    padding: 2.5rem;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 0.2s transform;
}
img{
    width: 100%;
    margin-bottom: 40px;
    border-radius: 10px;

}
figcaption{
    font-size: 80%;
    font-style: italic;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
video {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}
audio {
    margin-top: 20px;
    display: block;
}
audio {
    width: 300px;
    height: 54px;
}


@media screen and (max-width: 1000px){
}
nav {
    width: 100%;
}
nav {
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}
nav {
    display: block;
}
nav > ul {
    display: block;
    height: 100%;
    width: 100%;
    padding-left: 0;
}
nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    gap: 2rem;
    padding-left: 2.5rem;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 2.5rem;
}
nav > ul > li {
    width: 100%;
    text-align: center;
    height: 100px;
}
nav > ul > li {
    width: 100%;
    height: 100%;
}
nav > ul > .active {
    background: red;
}
nav > ul > li > a:visited, nav > ul > li > a:link {
    color: white;
    text-decoration: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 2.5rem;
}
header {
    height: 3.75rem;
    width: 100%;
    background: #222831;
}
header {
    height: auto;
}
header {
    display: block;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

