*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #be34b2;
    --bubble-color: #b8b8b8;
    --outline: #000;
}

body{
    background:var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.textbubble{
    position: relative;
    animation-name: popup;
    animation-duration: 0.8s;
}

input{
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

input:checked ~ .bubble .circle{ 
    animation-name: typing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

label{
    width: 300px;
    height: 300px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

label:hover{
    cursor: pointer;
}

.bubble{
    width: 270px;
    height: 200px;
    background: var(--bubble-color);
    border-radius: 50%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.circle{
    width: 30px;
    height: 30px;
    background: var(--outline);
    border-radius: 50%;
}

.second{
    animation-delay: 0.5s;
}

.third{
    animation-delay: 1s;
}

.triangle, .triangleBackground{ 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.triangle{
    width: 40px;
    height: 40px;
    background: var(--bubble-color);
    top: 96%;
}

.triangleBackground{
    width: 50px;
    height: 50px;
    background: var(--outline);
    top: 97%;
}

@keyframes popup {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0)px;
    }
}

@keyframes typing {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}