*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 1rem;
    animation-name: opening;
    animation-duration: 0.8s;
}

.header{
    background: black;
    display: flex;
    height: 7.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.headerTitle{
    color: white;
    text-transform: uppercase;
    font-size: 400%;
    font-weight: 400;
}

.headerButton{
    text-transform: uppercase;
    background:transparent;
    color: white;
    border: none;
    font-size: 140%;
    letter-spacing: 1px;
}

.headerButton:hover{
    cursor: pointer;
}

.mainNav{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s all;
}

.closeButton{
    position: absolute;
    top: 5%;
    right: 5%;
    text-transform: uppercase;
    background:transparent;
    color: white;
    border: none;
    font-size: 500%;
}

.closeButton:hover{
    cursor: pointer;
}

.mainNavList{
    list-style: none;
    
    
}

.mainNavListItem{
    font-size: 350%;
    text-transform: uppercase;
    text-align: center;
}

.mainNavListItem > a{
    color:white;
    text-decoration: none;
    
}

.mainNavListItem:first-of-type{
    margin-bottom: 1.25rem;
}

.bigFigure{
    width: 100%;
    height: 110vh;
}

.bigFigure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.collections{
   width: 100%;
   padding: 2.5rem;
   
}

.collectionsTitle, .infoTitle{
    font-size: 350%;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom:2.5rem ;
}

.collectionsList{
    list-style: none;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
}


.collectionsListItem{
    width: 31.25rem;
    height: 43.75rem;
    background: black;
    flex-shrink: 1;
    flex-grow: 1;
}


.collectionsListItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    padding:2.5rem ;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    
}

.block{
    width: 25rem;
    flex-shrink: 0;
    flex-grow: 1;
}


form{
    
    width: 100vw;
    min-height: 40rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 4rem;
    font-size: 3rem;
    gap: 2rem;
    border-radius: 5px;
}

form label{
    border-bottom: 2px solid rgb(97, 97, 202);

   
}

form div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    display: block;
    width:30ch;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: 1px solid black;
    background: #EEEEEE;
}

textarea{
    height: 35ch;
    width: 100%;
    font-size: 1.6rem;
    border: 1px solid black;
    
    padding: 1rem 2rem;
    resize: none;
    background: #EEEEEE;
}

.submit{
    border-radius: 5px;
    background-color: rgb(128, 125, 125);
}

.footer{
    height: 7.5rem;
    background: black;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    padding-left:2.5rem ;
    padding-right: 2.5rem;
}

.footerNav{
    list-style: none;
}

.footerNavItem{
    font-size: 80%;
    font-style: italic;
}

.footerNavItem > a{
    color: white;
    text-decoration:none;
}

.footer > address{
    font-size: 80%;
}

@media screen and (max-width:700px) {
    body{
        font-size: 0.875rem;
    }
    .headerTitle{
        font-size: 380%;
    }
}

@keyframes opening {
    from{
        opacity: 0;
     
    }
    to{
        opacity: 1;
        
    }

}