*{
    padding:0;
    margin:0;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2fa63d;
    font-family: 'Ceviche One', cursive;
    font-size: 16px;
    gap: 20px;
    flex-wrap: wrap;
}

.post-it{
    width: 400px;
    height: 400px;
    background: #f213a0;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 300px, 300px 100%, 0% 100%); 
    transition: 2s all;
    transform-origin: top left;
    flex-shrink: 0;
    

}

.post-it:hover{
    transform: rotate(15deg);
    transition: 0.5s all;

}

.green{
    background: #34be82;
}

.yellow{
    background: #F2F013;
}

.red{
    background: #ff0000;
}
.green > div, .yellow > div, .red > div{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;

}
.green > div{
    background: #2da370;    
}
.yellow > div{
    background: #d7d50c;  
}
.red > div{
    background: #d00;  
}


.text{
    font-size: 250%;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .post-it:hover{
        transform: none;
    }         
}