*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
}
h2{
    font-size: 200%;
    font-family: sans-serif;
    margin-left: 2rem;
    margin-top: 2rem;
}